@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
@md-font-path: '/bower_components/material-design-iconic-font/fonts';

/**
 * App-wide Styles
 */
@rebot-pink: #FF4081;
@rebot-blue: #03A9F4;
@rebot-yellow: #FFFF8D;
@rebot-darkyellow: #FFEA00;
@rebot-green: #1de9b6;
@rebot-darkgreen: #00bfa5;
@rebot-nav: #424A5D;
@rebot-orange: #FF5722;
@rebot-lightorange: #FF3D00;

.md-toolbar-tools {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10px;

    h1 {
    }

    h3 {
	font-size: 20px;
	padding-left: 20px;
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
}

.app {
    background-color: #ededed;
    padding-bottom: 85px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


// @media (min-width: 1200px) {
//     .container {
// 	width: 970px;		
//     }
// }

// injector
@import 'account/login/login.less';
@import 'account/profile/github-tab.less';
@import 'account/profile/profile.less';
@import 'account/profile/sidebar.less';
@import 'account/profile/tab.less';
@import 'account/profile/tabs.less';
@import 'main/loggedin.less';
@import 'main/main.less';
@import 'main/public.less';
@import 'navbar/navbar.less';
// endinjector
