@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.navbar-rebot {
    min-height: 80px;
    padding-top: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 0;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-right: 20px;
}

.nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #000000;
}


.nav li > a.nav-avatar-menu {
    padding-top: 5px;
    padding-right: 0px;
}

.nav-avatar-img {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 1px solid #ddd;
}
