
.leader-card {
    width: 400px;
}

.md-card {
    background-color: #ffffff;
}

.avatar {
    width: 48px;
    margin: 16px;
    margin-right:35px;
    border-radius: 48px;
    border: 1px solid #ddd;
}