<div class="container">
  <div class="trend-leader-div md-whiteframe-z1" layout="column">
    <md-toolbar class="search-bar" layout="row">
      <span class="toolbar-title">Trend Leaders</span>
      <span flex></span>
      <md-select class="course-select" ng-model="selected">
	<md-option value="{{ l }}" ng-repeat="l in langs"
		   ng-selected="$index === 1">
	  {{ l }}
	</md-option>
      </md-select>
    </md-toolbar>
    <div class="repo-list">
      <md-list>
	<md-item class="repo-item" ng-repeat="person in people" layout="row">
	  <div layout="column" layout-align="center center">
	    <img src="{{ person.avatarUrl }}" class="avatar md-whiteframe-z1" />
	    <h3 class="count">{{ person.ranking }}</h3>
	  </div>
	  <div class="repo-desc" layout="column">
	    <a class="repo-name" href="{{ person.profileUrl }}"> {{ person.name }}</a>
	  </div>
	  <span flex></span>
	  <div layout="column" layout-align="center center">
	    <md-button class="md-fab md-padding active-button" aria-label="active">
	      <md-tooltip>active</md-tooltip>
	      <md-icon md-svg-src="assets/images/profile/active.svg"></md-icon>
	    </md-button>
	    <h3 class="count">{{ person.active }}</h3>
	  </div>
	  <div layout="column" layout-align="center center">
	    <md-button class="md-fab md-padding influential-button" aria-label="influential">
	      <md-tooltip>influential</md-tooltip>
	      <md-icon md-svg-src="assets/images/profile/influential.svg"></md-icon>
	    </md-button>
	    <h3 class="count">{{ person.influential }}</h3>
	  </div>
	  
	  <div layout="column" layout-align="center center">
	    <md-button ng-click="goGithub(person.githubUrl)" class="md-fab md-padding github-button" aria-label="github">
	      <md-tooltip>github</md-tooltip>
	      <md-icon md-svg-src="assets/images/profile/github.svg"></md-icon>
	    </md-button>
	    <h3 class="count"> git </h3>
	  </div>
	  
	</md-item>
      </md-list>
    </div>
  </div>
</div>
