.github-tab {

    font-family: 'Ubuntu', sans-serif;
    
    .ranking {
	// background-color: @rebot-pink;
    }

    .language {
	background-color: @rebot-blue;
    }

    .activity {
	background-color: @rebot-green;
    }
}